<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add New Product</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css"/>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
</head>
<body>
<h1>Add New Product</h1>
<form action="{{ url_for('products.create_new_product') }}" method="post">
    <label for="Item_Name">Item Name:</label><br>
    <input type="text" id="Item_Name" name="Item_Name" required><br>
    <label for="Item_Description">Item Description:</label><br>
    <input type="text" id="Item_Description" name="Item_Description" required><br>
    <label for="Item_Price">Item Price:</label><br>
    <input type="number" step="0.01" id="Item_Price" name="Item_Price" required><br>
    <label for="Item_Qty">Item Quantity:</label><br>
    <input type="number" id="Item_Qty" name="Item_Qty" required><br>
    <label for="parent_sku">Parent SKU:</label><br>
    <input type="text" id="parent_sku" name="parent_sku"><br><br>
    <input type="submit" value="Add Product">
</form>
<a href="{{ url_for('products.read_all') }}">Back to Product List</a>
</body>
</html>
